extends layout

block content
  include ./includes/common.pug
  - var block_difficulty = parseFloat(block.difficulty).toFixed(4);
  script.
    $(document).ready(function() {
      $('#block-summary').dataTable({
        info: false,
        paging: false,
        searching: false,
        ordering: false,
        responsive: true,
        scrollX: false,
        fnDrawCallback: function(settings) {}
      });
      /* block.time_formatted = format_unixtime(#{block.time}) */
      $('span#timestampCol').html(format_unixtime(#{block.time}));

      if (#{shared_pages.date_time.enable_alt_timezone_tooltips} == true) {
        $('span#timestampCol').attr('data-bs-toggle', 'tooltip').attr('data-bs-placement', 'auto').attr('title', format_unixtime(#{block.time}, true));
        enableTooltips();
      }
    });
  .col-xs-12.col-md-12
    if settings.anyHeader(block_page, net)
      #page-header-container(style='align-items:' + (settings.allHeaders(block_page, net) ? 'flex-start' : 'center'))
        if block_page.page_header.show_img == true
          #header-img-container
            img#header-img(src=page_title_logo)
        #page-title-container
          if block_page.page_header.show_title == true
            h3#page-title #{settings.locale.block_title.replace('{1}', coin.name)}
          if block_page.page_header.show_description == true
            if block_page.page_header.show_title != true
              #page-title-container
                .sub-page-header.text-muted=settings.locale.block_description.replace('{1}', coin.name).replace('{2}', block.height)
            else
              .sub-page-header.text-muted=settings.locale.block_description.replace('{1}', coin.name).replace('{2}', block.height)
      .cardSpacer.clearfix
    div#block_info_wrapper.card.card-default.border-0.cardSpacer
      .card-header
        div(style='display: flex;flex-wrap: wrap;')
          if block.prev_hash != null
            a(href='/block/' + block.prev_hash + '/' + net)
              span.fa.fa-chevron-left.block-last(data-bs-toggle='tooltip', data-bs-placement='top', title=settings.locale.block_previous, style='color: var(--bs-body-color);') <-
            strong.d-none.d-md-block #{settings.locale.height}: #{block.height}
            strong.d-block.d-md-none #{settings.locale.ex_summary}
          else
            strong.d-none.d-md-block(style='margin-left:10px;') #{settings.locale.tx_block_hash}: #{block.hash}  #{block.nextblockhash} #{block.nextblockhash}
            strong.d-block.d-md-none(style='margin-left:10px;') #{settings.locale.ex_summary}
          if block.next_hash
            a(href='/block/' + block.next_hash + '/' + net)
              span.fa.fa-chevron-right.block-next(data-bs-toggle='tooltip', data-bs-placement='top', title=settings.locale.block_next, style='color: var(--bs-body-color);') ->
          if api_page.public_apis.rpc.getblock.enabled == true
            a.d-none.d-md-block(href='/api/getblock?hash=' + block.hash, style='margin-left:auto;', data-bs-toggle='tooltip', data-bs-placement='top', title=settings.locale.view_raw_block_data)
              span.fa.fa-info-circle(style='color: var(--bs-body-color);')
      table#block-summary.table.table-bordered.summary-table.bottom-border-0.single-row-table(style='border-top:0;margin-top:0 !important;')
        thead(style='visibility: collapse !important;')
          tr
            th
            th
        tbody
          - const difficulty = Number(block.difficulty).toLocaleString('en',{'minimumFractionDigits':4,'maximumFractionDigits':4,'useGrouping':true});
          - const splitDifficulty = difficulty.split('.');
          - const block_size = Number(block.size/1024).toLocaleString('en',{'minimumFractionDigits':2,'maximumFractionDigits':2,'useGrouping':true});
          - const splitBlockSize = block_size.split('.');
          if block.hash
            tr
              td #{settings.locale.block_hash}
              td=block.hash
          if block.pow_hash
            tr
              td #{settings.locale.block_hash_pow}
              td=block.pow_hash
          if block.algo
            tr
              td #{settings.locale.block_algo}
              td=block.algo
          tr
            td #{settings.locale.block_difficulty}
            td #{splitDifficulty[0]}.
              span.decimal #{splitDifficulty[1]}
          tr
            td #{settings.locale.block_confirmations}
            td=confirmations
          if settings.blockchain_specific.heavycoin.enabled == true
            tr
              td Vote
              td=block.vote
          tr
            td #{settings.locale.block_size} (kB)
            td #{splitBlockSize[0]}.
              span.decimal #{splitBlockSize[1]}
          if block.bits
            tr
              td #{settings.locale.block_bits}
              td=block.bits
          if block.nonce
            tr
              td #{settings.locale.block_nonce}
              td=block.nonce
          if block.time
            tr
              td #{settings.locale.block_timestamp}
              td
                span#timestampCol=block.time
          if block.version
            tr
              td #{settings.locale.block_version}
              td=block.version
          if block.version_hex
            tr
              td #{settings.locale.block_version_hex}
              td=block.version_hex
          if block.merkle_root
            tr
              td #{settings.locale.block_merkle_root}
              td=block.merkle_root
          if block.chainwork
            tr
              td #{settings.locale.block_chainwork}
              td=block.chainwork
          if block.cbtx
            tr
              td #{settings.locale.block_cbtx}
              td=block.cbtx
    if block.hash == block_page.genesis_block
      .alert.alert-info(role='alert', style='text-align:center;')
        strong #{settings.locale.block_genesis}
    else
      div#block-txs-wrapper.card.card-default.border-0
        .card-header
          strong Transactions
        table#block-txs.table.table-bordered.summary-table.mobile-border-right
          thead
            tr
              // th.text-center.d-table-cell.d-md-none
              th.d-md-table-cell #{settings.locale.tx_hash}
              th.text-center #{settings.locale.tx_type}
              th.text-center #{settings.locale.tx_txout}
              th.text-center #{coin.symbol}
          tbody
            each txn in txs
              tr
                // td.text-center.d-table-cell.d-md-none
                  a(href='/tx/' + txn.txid)
                    span.entity(data-bs-toggle='tooltip', data-bs-placement='top', title=settings.locale.view_tx) &#8627
                td.text-start.txcol.d-md-table-cell
                  a.breakWord(href='/tx/' + txn.txid + '/' + net) #{txn.txid}
                td.text-begin #{settings.get(net, 'tx_types')[txn.tx_type].replace('TRANSACTION_', 'TX_')}
                td.text-center #{txn.vout.length}
                if txn.vout.length > 0
                  - var total = Number(txn.total / 100000000).toLocaleString('en',{'minimumFractionDigits':2,'maximumFractionDigits':2,'useGrouping':true});
                  - var totalParts = total.split('.');
                  td.text-end #{totalParts[0]}.
                    span.decimal #{totalParts[1]}
                else
                  - var total = Number(txn.total).toLocaleString('en',{'minimumFractionDigits':2,'maximumFractionDigits':2,'useGrouping':true});
                  - var totalParts = total.split('.');
                  td.text-end #{totalParts[0]}.
                    span.decimal #{totalParts[1]}