extends layout

block content
  include ./includes/common.pug
  script.
    const setting_maxCount = parseInt("#{api_page.public_apis.ext.getlasttxs.max_items_per_query}")
    const setting_itemsPerPage = parseInt("#{index_page.transaction_table.items_per_page}")
    const lengthMenuOptsAdd = !{JSON.stringify(index_page.transaction_table.page_length_options)}
    $(document).ready(function() {
      var rtable = $('#recent-table').dataTable({
        autoWidth: true,
        searching: false,
        ordering: false,
        responsive: true,
        lengthChange: true,
        processing: true,
        serverSide: true,
        iDisplayLength: setting_maxCount < setting_itemsPerPage ? setting_maxCount : setting_itemsPerPage,
        lengthMenu: lengthMenuOptsAdd,
        scrollX: true,
        ajax: {
          url: '/ext/getlasttxs/#{net}/0',
          beforeSend: function(jqXHR, settings) {
            settings.url = settings.url.substring(0, settings.url.indexOf('?')) + '/' + getParameterByName('start', settings.url) + '/' + getParameterByName('length', settings.url) + '/internal' // '/type'
            return true
          }
        },
        language: {
          paginate: {
            previous: '<',
            next: '>'
          }
        },
        rowCallback: function(row, data, index) {
          const height = !isNaN(data[0].blockindex) ? formatDecimal(data[0].blockindex, 0, 0) : 'n/a'
          const timestamp = !isNaN(data[0].timestamp) ? format_unixtime(data[0].timestamp) : 'n/a'
          const txType = data[0].type ? data[0].type.replace('TRANSACTION_', '') : 'n/a'
          const sendRec = data[0].senders + '/' + data[0].recipients
          const amount = !isNaN(data[0].amount) ? formatDecimal(data[0].amount, 2, 2) : 'n/a'
          const txid = data[0].txid ? data[0].txid : 'n/a'
          const txidString = formatShortId(data[0].txid, 6, 6)
          const blockString = formatShortId(data[0].blockhash, 6, 6)
          var html = '<div class="tx-line">'
          html += '<strong class="tx-title"><a href="/tx/' + txid + '/#{net}">Transaction #{coin.symbol} (height ' + height + ')</a></strong>'
          html += '<br><p><small>'
          html += '<a href="/tx/' + txid + '/#{net}">Tx-ID:&nbsp;' + txidString + '</a>'
          html += ' 路 <a href="/block/' + data[0].blockhash + '/#{net}">Block:&nbsp;' + blockString + '</a>'
          html += ' 路 Time:&nbsp;' + timestamp
          html += ' 路 Tx-Type:&nbsp;' + txType
          html += ' 路 Send./Rec.:&nbsp' + sendRec
          html += '</small></p>'
          html += '<div class="tx-value"><b>' + amount + '</b></div>'
          html += '</div>'
          $("td:eq(0)", row).html(html).addClass('tdwrap')
        },
        fnDrawCallback: function(settings) {
          enableTooltips()
        }
      })
      var setting_reload_table_seconds = parseInt("#{index_page.transaction_table.reload_table_seconds}")
      if (setting_reload_table_seconds > 0) {
        setInterval( function () {
          rtable.api().ajax.reload(null, false)
        }, (setting_reload_table_seconds * 1000))
      }

      if ('#{index_page.page_header.show_last_updated}' == 'true') {
        var lastUpdatedDate = #{(last_updated == null || last_updated == '0' ? 0 : last_updated)}
        if (lastUpdatedDate != 0) {
          $('span#lastUpdatedDate').html(' ' + format_unixtime(lastUpdatedDate))

          if (#{shared_pages.date_time.enable_alt_timezone_tooltips} == true) {
            $('span#lastUpdatedDate').attr('data-bs-toggle', 'tooltip').attr('data-bs-placement', 'auto').attr('title', format_unixtime(lastUpdatedDate, true))
            enableTooltips()
          }
        } else
          $('span#lastUpdatedDate').html(' N/A')
      }
    })
  if error !== null
    .col-12
      .alert.alert-danger.alert-dismissible.fade.show(role='alert')
        button.btn-close(type='button', data-bs-dismiss='alert')
        .cardSpacer
          span.fas.fa-exclamation-circle(style='margin-right:5px')
          strong #{settings.locale.ex_error}
        div #{error}
  .col-md-12.cardSpacer
    if settings.anyHeader(index_page, net)
      #page-header-container(style='align-items:' + (settings.allHeaders(index_page, net) ? 'flex-start' : 'center'))
        if index_page.page_header.show_img == true
          #header-img-container
            img#header-img(src=page_title_logo)
        #page-title-container
          if index_page.page_header.show_title == true
            h3#page-title #{settings.locale.ex_title.replace('{1}', coin.name)}
          if index_page.page_header.show_last_updated == true
            if index_page.page_header.show_title != true && index_page.page_header.show_description != true
              #page-title-container
                .sub-page-header
                  span=settings.locale.last_updated + ':'
                  span.text-muted#lastUpdatedDate
            else
              .sub-page-header(style='margin-bottom:' + (index_page.page_header.show_description == true ? '5' : '0') + 'px')
                span=settings.locale.last_updated + ':'
                span.text-muted#lastUpdatedDate
          if index_page.page_header.show_description == true
            if index_page.page_header.show_title != true && index_page.page_header.show_last_updated != true
              #page-title-container
                .sub-page-header.text-muted=settings.locale.ex_description.replace('{1}', coin.name)
            else
              .sub-page-header.text-muted=settings.locale.ex_description.replace('{1}', coin.name)
      .cardSpacer.clearfix
    .card.card-default.border-0.cardSpacer
      .card-header
        strong #{settings.locale.ex_latest_transactions}
      table#recent-table.table.table-bordered.table-paging
        thead
          tr
            th(style="display: none")
        tbody