extends layout

block content
  include ./includes/common.pug
  - const info = info_page.info
  script.
    $(document).ready(function() {
      // NOOP
    });
  .col-md-12.cardSpacer
    if settings.anyHeader(info_page, net)
      #page-header-container(style='align-items:' + (settings.allHeaders(info_page, net) ? 'flex-start' : 'center'))
        if info_page.page_header.show_img == true
          #header-img-container
            img#header-img(src=page_title_logo)
        #page-title-container
          if info_page.page_header.show_title == true
            if coin.name.toLowerCase() != net.toLowerCase()
              h3#page-title #{settings.locale.info_title.replace('{1}', coin.symbol).replace('{2}', net)}
            else 
              h3#page-title #{settings.locale.info_title.replace('{1}', coin.symbol).replace('{2}', '')}
          if info_page.page_header.show_description == true
            if info_page.page_header.show_title != true
              #page-title-container
                .sub-page-header.text-muted=settings.locale.info_description.replace('{1}', coin.name)
            else
              .sub-page-header.text-muted=settings.locale.info_description.replace('{1}', coin.name)
    .card.card-default.border-0
      div#info-table_wrapper.card-body
        if info_page.show_logo == true
          img(src=settings.getWallet(net).logo_title, style='margin:0;height:128px;')
          hr
        if info.description.length > 0
          p '#{info.description}'
          br
        if info.show_chainstats == true
          h4 #{settings.locale.info_title_chain}
          hr
          table#chainstats.table.table-bordered.summary-table.mobile-border-right
            tbody 
            tr
              td.text-start #{settings.locale.info_name}
              td.text-end #{coin.name}
            tr
              td.text-start #{settings.locale.info_symbol}
              td.text-end #{coin.symbol}
            if info.home_url.length > 0
              tr
                td.text-start #{settings.locale.info_home}
                td.text-end 
                  a(href=info.home_url) #{info.home_url}
            if info.whitepaper_url.length > 0
              tr
                td.text-start #{settings.locale.info_whitepaper}
                td.text-end 
                  a(href=info.whitepaper_url) #{info.whitepaper_title}
            tr
              td.text-start #{settings.locale.info_start_time}
              td.text-end #{settings.formatUnixtime(stats.starttime, net, true)}
            tr
              td.text-start #{settings.locale.info_block_height}
              td.text-end #{settings.formatInt(stats.count)}
            tr
              td.text-start #{settings.locale.info_blocks_per_hour}
              td.text-end #{settings.formatDecimal(stats.count / ((Math.floor(Date.now() / 1000) - stats.starttime) / 60 / 60), 2, 2)}
            if info.show_last_price == true
              tr
                td.text-start #{settings.locale.info_last_price.replace('{1}', "USDT")}
                td.text-end #{settings.formatDecimal(stats.last_price, 8, 8) + ' / ' + settings.formatDecimal(stats.last_usd_price, 8, 8)}
            tr
              td.text-start #{settings.locale.info_max_supply}
              td.text-end #{settings.formatDecimal(coin.max_supply, 2, 2)}
                small  [100.0%]
            tr
              td.text-start #{settings.locale.info_current_supply}
              td.text-end #{settings.formatDecimal(stats.supply, 2, 2)}
                small  [ #{settings.formatDecimal(stats.supply / coin.max_supply * 100, 1, 1)}%]
            tr
              td.text-start #{'Locked in Smartnodes'}
              td.text-end #{settings.formatDecimal(stats.smartnodes_enabled * 42000, 2, 2)}
                small [#{' ' + settings.formatDecimal(stats.smartnodes_enabled * 42000 / coin.max_supply * 100, 1, 1)}%]
            if info.show_coinbase == true && Array.isArray(latest_coinbase_tx.vin) && latest_coinbase_tx.vin.length > 0 /* Does not exist for pepew. */
              tr 
                td.text-start #{settings.locale.info_latest_coinbase}
                td.text-end #{settings.formatDecimal(latest_coinbase_tx.vin[0].amount / 100000000, 2, 2)}
            tr
              td.text-start #{settings.locale.info_count_addresses}
              td.text-end #{settings.formatInt(addresses)}
            tr
              td.text-start 
                a(href='/assets/' + net) #{settings.locale.info_count_assets}
              td.text-end #{settings.formatInt(assets)}
            tr
              td.text-start #{settings.locale.info_count_utxos}
              td.text-end #{settings.formatInt(stats.count_utxos)}
            tr
              td.text-start 
                a(href='/movement/' + net) #{settings.locale.info_count_transactions}
              td.text-end #{settings.formatInt(txes)}
            if info.show_txstats == true && tx_types
              each tx_type, index in tx_types
                tr.sub(style='line-height: 1.0')
                  td.text-start
                    span(style='margin-left: 0') #{'·' + tx_type.replace('TRANSACTION_', '')}
                  td.text-end
                    if (count_tx_by_type)
                      - var found = false
                      each txtype in count_tx_by_type
                        if index == txtype._id
                          span(style='margin-left: 0') #{isNaN(txtype.count) ? 0 : settings.formatInt(txtype.count)}
                          img(src="/img/" + net + "-tx-" + tx_type.replace('TRANSACTION_', '') + ".png", class="tx-icon")
                          - found = true
                      if !found
                        span 0
                        img(src="/img/" + net + "-tx-" + tx_type.replace('TRANSACTION_', '') + ".png", class="tx-icon")
            if info.show_masternode_info == true
              tr
                td.text-start 
                  a(href='/masternodes/' + net) #{settings.locale.info_count_masternodes}
                td.text-end #{stats.smartnodes_enabled + ' / ' + stats.smartnodes_total}
            if info.show_miningstats == true && algos.length == 1
              tr
                td.text-start #{settings.locale.info_megahash_ps}
                td.text-end #{settings.formatDecimal(stats['nethash'], 3, 3)}
              tr
                td.text-start #{settings.locale.info_difficulty}
                td.text-end #{settings.formatDecimal(stats['difficulty'], 6, 6)}
        if info.show_markets == true
          br
          h4 #{settings.locale.info_title_markets}
          hr
          table#marketstats.table.table-bordered.summary-table.mobile-border-right
            tbody 
            tr
              td.text-start #{settings.locale.info_name}
              td.text-end #{coin.name}
            tr
              td.text-start #{settings.locale.info_symbol}
              td.text-end #{coin.symbol}
            tr
              td.text-start Traing pairs
              td.text-end #{trading_pairs}
            tr
              td.text-start Buys (total)
              td.text-end
            if (buy_order_aggregation)
              each buy in buy_order_aggregation 
                tr.sub
                  td.text-start 
                    span #{buy._id.trade}
                  td.text-end
                    span #{settings.formatDecimal(buy.sum_val, 2, 2)}
              tr
                td.text-start Sells (total)
                td.text-end
            if (sell_order_aggregation)
              each sell in sell_order_aggregation 
                tr.sub
                  td.text-start 
                    span #{sell._id.trade}
                  td.text-end
                    span #{settings.formatDecimal(sell.sum_val, 2, 2)}
        if info.show_masternode_info == true
          h4 #{settings.locale.info_title_masternodes}
          hr
          table#masternodestats.table.table-bordered.summary-table.mobile-border-right
            thead
              tr
                th.text-center.fill #{settings.locale.info_masternodes_th_country}
                th.text-center #{settings.locale.info_masternodes_th_count}
                th.text-center #{settings.locale.info_masternodes_th_percent}
            tbody 
              if (count_masternodes_by_country)
                - var mini = ''
                - var cnt = 0
                - var percent = 0
                each mn in count_masternodes_by_country 
                  if mn.percent > 1
                    tr
                      td.text-start.fill
                        span #{mn._id ? mn._id : 'Unknown'}
                      td.text-end
                        span #{mn.count}
                      td.text-end
                        span #{settings.formatDecimal(mn.percent, 2, 2)}
                  else
                    - cnt = cnt + mn.count
                    - percent = percent + mn.percent
                    - mini = mini + mn._id + ' (' + mn.count + ') '
                tr
                  td.text-start.fill
                    span #{'<1%'} #{mini}
                  td.text-end
                    span #{cnt}
                  td.text-end
                    span #{settings.formatDecimal(percent, 2, 2)}
        if info.show_miningstats == true && algos.length > 1
          br
          h4 #{settings.locale.info_title_mining}
          hr
          table#miningstats.table.table-bordered.summary-table.mobile-border-right
            thead
              tr
                th.text-center.fill #{settings.locale.info_mining_th_algorithm}
                th.text-center.algotype #{settings.locale.info_mining_th_type}
                th.text-center.hashps #{settings.locale.info_mining_th_hash_ps}
                th.text-center #{settings.locale.info_mining_th_difficulty}
                th.text-center #{settings.locale.info_mining_th_blocks}
                th.text-center.percent #{settings.locale.info_mining_th_percent}
            tbody 
              if (algos && count_blocks_by_algorithm)
                each algo in algos 
                  tr
                    - const obj = count_blocks_by_algorithm.find((e) => e._id === algo.algo)
                    - const blocks = obj ? obj.count : -1
                    - const nethash_decimals = shared_pages.page_header.network_charts.nethash_chart.round_decimals
                    - const diff_decimals = shared_pages.page_header.network_charts.difficulty_chart.round_decimals
                    td.text-start #{algo.label}
                    td.text-center #{algo.type.toUpperCase()}
                    td.text-end #{settings.formatDecimal(stats['nethash_' + algo.algo], nethash_decimals, nethash_decimals)}
                    td.text-end #{settings.formatDecimal(stats['difficulty_' + algo.algo], diff_decimals, diff_decimals)}
                    td.text-end #{settings.formatInt(blocks)}
                    td.text-end #{settings.formatDecimal(blocks / stats.count * 100, 2, 2)}
        //- if info.show_sporks == true
        //-   h4 Sporks
        //-   hr



